<div class="container mx-auto py-4 bg-white">
  <h1 class="text-3xl">Builders Reactor</h1>
  <div class="card w-96 bg-base-100 shadow-xl my-4">
    <div class="card-body">
      <h2 class="card-title">1. Obtain data of products from Builders World shop</h2>
      <p>Last updated: <%= @last_products_update %></p>
      <div class="card-actions justify-end">
        <%= link_to "Obtain data", build_product_list_path, class: "btn btn-primary" %>
        <%= link_to "Open products list", products_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="card w-96 bg-base-100 shadow-xl my-4">
    <div class="card-body">
    <h2 class="card-title">2. Obtain data of categories from Builders World shop</h2>
    <p>Last updated: <%= @last_categories_update %></p>
    <div class="card-actions justify-end">
      <%= link_to "Obtain data", build_category_list_path, class: "btn btn-primary" %>
      <%= link_to "Open categories list", categories_path, class: "btn btn-primary" %>
    </div>
    </div>
  </div>

  <div class="card w-96 bg-base-100 shadow-xl my-4">
    <div class="card-body">
    <h2 class="card-title">3. Obtain data of products from Buildxact</h2>
    <p>Last updated: <%= @last_bxa_products_update %></p>
    <div class="card-actions justify-end">
      <%= link_to "Obtain data", build_item_list_from_bxa_path, class: "btn btn-primary" %>
      <%= link_to "Open categories list", buildxact_items_path, class: "btn btn-primary" %>
    </div>
    </div>
  </div>

  <div class="card w-96 bg-base-100 shadow-xl my-4">
    <div class="card-body">
    <h2 class="card-title">4. Obtain data of categories from Buildxact</h2>
    <p>Last updated: <%= @last_bxa_categories_update %></p>
    <div class="card-actions justify-end">
      <%= link_to "Obtain data", "build_categories_list_from_bxa", class: "btn btn-primary" %>
      <%= link_to "Open categories list", "buildxact_categories_path", class: "btn btn-primary" %>
    </div>
    </div>
  </div>


  <div class="card w-96 bg-primary text-primary-content my-4">
  <div class="card-body">
    <h2 class="card-title">5. Make List of changes</h2>
    <p>Last updated: <%= @last_changes_list %></p>
    <div class="card-actions justify-end">
      <%= link_to "Make list", compare_item_comparison_index_path, class: "btn btn-primary" %>
      <%= link_to "Open changes list", item_comparison_index_path, class: "btn btn-primary" %>
    </div>
  </div>
  </div>

  <div class="card w-96 bg-primary text-primary-content my-4">
    <div class="card-body">
      <h2 class="card-title">6. Create changes recipy</h2>
      <p>Last executed: __</p>
      <div class="card-actions justify-end">
        <button class="btn">Process now</button>
      </div>
    </div>
    </div>


  <div class="card w-96 bg-base shadow-xl my-4">
    <div class="card-body">
      <h2 class="card-title">7. Update data on Buildxact</h2>
      <p>Status: up-to-date with last recipy.</p>
      <div class="card-actions justify-end">
        <button class="btn">Execute changes</button>
      </div>
    </div>
  </div>

</div>
